/F0rWhile2.class
/ForLoop3.class
/Scanner_9_TR.class
/Ternary07.class
/if_ternary08.class
/If_Ternary09.class
/If_Ternary06.class
/For10.class
/For01.class
/for04.class
/For06.class
/For07.class
/For08.class
/For09.class
/If02.class
/If03.class
/If05.class
/If04.class
