/F0rWhile2.class
/ForLoop3.class
/Scanner_9_TR.class
/Ternary07.class
/if_ternary08.class
/If_Ternary09.class
/If_Ternary06.class
/For10.class
/For01.class
/for04.class
/For06.class
/For07.class
/For08.class
/For09.class
/If02.class
/If03.class
/If05.class
/If04.class
/Array01.class
/Array02.class
/Array03.class
/Array04.class
/Array05.class
/Array06.class
/Array07.class
/Array08.class
/VarargsProject.class
/StringBuilder01.class
/List01.class
/List02.class
/List03.class
/List04.class
/List05.class
/List06.class
/List07.class
/List08.class
/List09.class
