/Common2Arrays.class
/Main2.class
/arrayContains.class
/changeArray.class
/diffBetweenMaxMin.class
/maxNumber.class
/minNumber.class
/removeDuplicates.class
/reverseArr.class
/sameFirstAndLast.class
/sumTotal.class
/testClass.class
